%h2 グリッド

.row
  .span4
    .well span4
  .span4
    .well span4
  .span4
    .well span4
.row
  .span2
    .well span2
  .span2
    .well span2
  .span2
    .well span2
  .span2
    .well span2
  .span2
    .well span2
  .span2
    .well span2
.row
  .span1
    .well こ
  .span1
    .well ま
  .span1
    .well か
  .span1
    .well く
  .span1
    .well し
  .span1
    .well て
  .span1
    .well み
  .span1
    .well ま
  .span1
    .well し
  .span1
    .well た
  .span1
    .well よ
  .span1
    .well ！

.row
  .span3
    .well.sidebar-nav
      %h4 メニュー
      %ul.nav.nav-list
        %li.nav-header なにか
        %li= link_to "Link 1", "/path1"
        %li= link_to "Link 2", "/path2"
        %li= link_to "Link 3", "/path3"
  .span9
    なにかでそうなところ

%h3 オフセット
.row
  .span4
    .well span4
.row
  .span4.offset4
    .well span4 offset4
.row
  .span4.offset8
    .well span4 offset8
